name: Release

on:
  push:

permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        include:
          # Windows
          - os: windows-latest
            target: x86_64-pc-windows-msvc
          - os: windows-latest
            target: aarch64-pc-windows-msvc
          # macOS
          - os: macos-latest
            target: aarch64-apple-darwin
          - os: macos-latest
            target: x86_64-apple-darwin
          # Linux
          #- os: ubuntu-latest
            #target: aarch64-unknown-linux-musl
          - os: ubuntu-latest
            target: x86_64-unknown-linux-musl


    name: Build ${{ matrix.target }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - run: rustup target add ${{ matrix.target }}
      - run: cargo build --release --target ${{ matrix.target }}
      - run: zip --junk-paths pkcs11-test_${{ matrix.target }}.zip target/release/pkcs11-test* README.md
      - uses: actions/upload-artifact@82c141cc518b40d92cc801eee768e7aafc9c2fa2 # v2.3.1
        with:
          path: pkcs11-test_${{ matrix.target }}.zip

#jobs:
  #macos-x86:
    #runs-on: macos-14
    #steps:
    #- uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5  v2.7.0
    #- run: rustup target add x86_64-apple-darwin
    #- run: cargo build --release --target x86_64-apple-darwin

  #macos-arm:
    #runs-on: macos-14
    #steps:
    #- uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5  v2.7.0
    #- run: rustup target add aarch64-apple-darwin
    #- run: cargo build --release --target aarch64-apple-darwin

  #ubuntu-x86:
    #runs-on: ubuntu-24.04
    #steps:
    #- uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5  v2.7.0
    #- run: rustup target add x86_64-unknown-linux-musl
    #- run: cargo build --release --target x86_64-unknown-linux-musl

  #ubuntu-arm:
    #runs-on: ubuntu-24.04
    #steps:
    #- uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5  v2.7.0
    #- run: sudo apt-get install musl-dev
    #- run: ls /usr/bin/aarch64-linux-musl-gcc
    #- run: rustup target add aarch64-unknown-linux-musl
    #- run: cargo build --release --target aarch64-unknown-linux-musl

  #windows-x86:
    #runs-on: windows-2022
    #steps:
    #- uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5  v2.7.0
    #- run: rustup target add x86_64-pc-windows-msvc
    #- run: cargo build --release --target x86_64-pc-windows-msvc

  #windows-arm:
    #runs-on: windows-2022
    #steps:
    #- uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5  v2.7.0
    #- run: rustup target add aarch64-pc-windows-msvc
    #- run: cargo build --release --target aarch64-pc-windows-msvc
